<footer class="page-footer">
  <div class="copyright-notice">
    © <%= Date.today.year %> <%= link_to "Julien Vanier LLC", "mailto:hello@timetoslack.com" %>
  </div>
  <div class="privacy-notice">
    <%= link_to "Privacy Policy", "/privacy" %>
  </div>
</footer>
